:root {
    --background-color: #1A252B;
    --font-color: #B0BCB0;
    --primary-color: #75688A;
    --secondary-color: #B6985C;
    --error-color: #D3615E;
    --progress-bar-background: #578672;
    --progress-bar-fill: #57BB3C;
    --code-bg-color: #354046;
    --global-font-size: 20px;
    --global-line-height: 2;
    --input-style: dashed;
    /* --display-h1-decoration: block; */
    --sidebar-width: 10%;
    --sidebar-button-width: 100%;
}

/* body {
     color: #B54343; 

background-color:var(--v-background);
background-image:;
}*/

* {
    font-family: "TheGoodMonolith", "Consolas", "Lucida Console";
    /* font-size: 20px; */
}

.header_item {
    text-align: center;
}

/* div {
    border: 1px #ccc solid;
} */

/* Header - Sidebar - Content, system */

/* html {
    height: 100%;
} */

body {
    /* height: 100%; */
    margin: 0;
}

#header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10%;
    left: var(--sidebar-width);
}

#page {
    display: flex;
    height: calc( 100vh - 30px);
    left: var(--sidebar-width);
}

#sideBar {
    width: var(--sidebar-width);
    height: 100%;
    position: fixed;
}

#content {
    flex: 1 0 auto;
    margin-left: 20%;
    margin-right: 20%;
    left: var(--sidebar-width);
    /* enable grow, disable shrink */
}

/* Customize Terminal CSS */

.doubleline table, tr, th, td, tbody, thead {
    border-style: double;
    border-width: 6px;
}

/* Fix the terminal prompt */

.terminal-prompt {
    color: var(--primary-color);
}

.terminal-prompt::before {
    color: var(--primary-color);
    content: "> ";
}

.terminal-prompt::after {
    bottom: -10px;
}

/* Fix terminal <hr> */

hr {
    border-bottom: 2px dashed var(--secondary-color);
}

.sidebar-button {
    width: var(--sidebar-button-width);
}

/* table {
    width: 80%;
} */