:root {
    --background-color: #1A252B;
    --font-color: #B0BCB0;
    --primary-color: #75688A;
    --secondary-color: #B6985C;
    --error-color: #D3615E;
    --progress-bar-background: #578672;
    --progress-bar-fill: #57BB3C;
    --code-bg-color: #354046;
    --global-font-size: 20px;
    --global-line-height: 2;
}

/* body {
     color: #B54343; 

background-color:var(--v-background);
background-image:;
}*/

* {
    font-family: "TheGoodMonolith", "Consolas", "Lucida Console";
    /* font-size: 20px; */
}

a {
    color: var(--v-links);
}

.header_item {
    text-align: center;
}

/* div {
    border: 1px #ccc solid;
} */

/* Header - Sidebar - Content, system */

/* html {
    height: 100%;
} */

body {
    /* height: 100%; */
    margin: 0;
}

#header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10%;
}

#page {
    display: flex;
    height: calc( 100vh - 30px);
    /* calculate the height. Header is 30px */
}

#sideBar {
    width: 10%;
}

#content {
    flex: 1 0 auto;
    margin-left: 10%;
    margin-right: 10%;
    /* enable grow, disable shrink */
}